.app-wrapper-footer
    .app-footer
        .app-footer__inner
            .app-footer-right
                ul.nav
                    li.nav-item
                        a.nav-link(href='javascript:void(0);').

                            Copyright &copy; Expresso 2020.
