.app-header.header-shadow
    .app-header__logo
        .logo-src
            h5 Expresso CMS
        .header__pane.ml-auto
            div
                button.hamburger.close-sidebar-btn.hamburger--elastic(type='button' data-class='closed-sidebar')
                    span.hamburger-box
                        span.hamburger-inner
    .app-header__mobile-menu
        div
            button.hamburger.hamburger--elastic.mobile-toggle-nav(type='button')
                span.hamburger-box
                    span.hamburger-inner
    .app-header__menu
        span
            button.btn-icon.btn-icon-only.btn.btn-primary.btn-sm.mobile-toggle-header-nav(type='button')
                span.btn-icon-wrapper
                    i.fa.fa-ellipsis-v.fa-w-6
    .app-header__content
        .app-header-left
            .search-wrapper
                .input-holder
                    input.search-input(type='text' placeholder='Type to search')
                    button.search-icon
                        span
                button.close
        .app-header-right
            .header-btn-lg.pr-0
                .widget-content.p-0
                    .widget-content-wrapper
                        .widget-content-left.mr-3.header-user-info
                            .widget-heading.

                                CMS Admin

                            .widget-subheading.

                                Admin

                        .widget-content-left
                            .btn-group
                                a.p-0.btn(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                    img.rounded-circle(width='42' src='./img/anonymous.jpg' alt)
                                    i.fa.fa-angle-down.ml-2.opacity-8
                                .dropdown-menu.dropdown-menu-right(tabindex='-1' role='menu' aria-hidden='true')
                                    button.dropdown-item(type='button' tabindex='0') User Account
                                    button.dropdown-item(type='button' tabindex='0') Settings
                                    .dropdown-divider(tabindex='-1')
                                    button.dropdown-item(type='button' tabindex='0') Logout