.app-sidebar.sidebar-shadow
    .app-header__logo
        .logo-src
        .header__pane.ml-auto
            div
                button.hamburger.close-sidebar-btn.hamburger--elastic(type='button' data-class='closed-sidebar')
                    span.hamburger-box
                        span.hamburger-inner
    .app-header__mobile-menu
        div
            button.hamburger.hamburger--elastic.mobile-toggle-nav(type='button')
                span.hamburger-box
                    span.hamburger-inner
    .app-header__menu
        span
            button.btn-icon.btn-icon-only.btn.btn-primary.btn-sm.mobile-toggle-header-nav(type='button')
                span.btn-icon-wrapper
                    i.fa.fa-ellipsis-v.fa-w-6
    .scrollbar-sidebar
        .app-sidebar__inner
            ul.vertical-nav-menu
                li.app-sidebar__heading Home
                li
                    a(href='/')
                        i.metismenu-icon.pe-7s-graph2
                        p Dashboard
                li.app-sidebar__heading Data
                li
                    a(href='#')
                        i.metismenu-icon.pe-7s-map-marker
                        p Locations
                        i.metismenu-state-icon.pe-7s-angle-down.caret-left
                    ul
                        li
                            a(href='/countries')
                                i.metismenu-icon
                                p Countries
                        li
                            a(href='/cities')
                                i.metismenu-icon
                                p Cities
                        li
                            a(href='/areas')
                                i.metismenu-icon
                                p Areas
                li
                    a(href='#')
                        i.metismenu-icon.pe-7s-home
                        p Restaurants
                        i.metismenu-state-icon.pe-7s-angle-down.caret-left
                    ul
                        li
                            a(href='/tags')
                                i.metismenu-icon
                                p Tags
                        li
                            a(href='/restaurants')
                                i.metismenu-icon
                                p Restaurants
                        li
                            a(href='/branches')
                                i.metismenu-icon
                                p Branches
                li
                    a(href='#')
                        i.metismenu-icon.pe-7s-add-user
                        p Users
                        i.metismenu-state-icon.pe-7s-angle-down.caret-left
                    ul
                        li
                            a(href='/admins')
                                i.metismenu-icon
                                p Admins