extend base

block content
    
    .row
        .col-lg-6
            h3 Account Data
            .main-card.mb-3.mt-3.card
                .card-body
                      //- WITHOUT API (HTML FORM)
                      //- form(method='POST' action='/account-data')

                      //- WITH API (AJAX CALL)
                      form#account-data-form
                        .position-relative.form-group
                          label(for='firstName') First Name
                          input#firstName.form-control(name='firstName', placeholder='First Name', type='text', required, value=`${user.firstName}`)
                        .position-relative.form-group
                          label(for='lastName') Last Name
                          input#lastName.form-control(name='lastName', placeholder='Last Name', type='text', required, value=`${user.lastName}`)
                        .position-relative.form-group
                          label(for='email') Email
                          input#email.form-control(name='email', placeholder='Email', type='email', required, value=`${user.email}`)
                        .d-flex.justify-content-end.pt-3
                            button.mt-1.mr-2.btn.btn-success Save Data

    .row
        .col-lg-6
            hr

    .row
        .col-lg-6
            h3 Password Change
            .main-card.mb-3.mt-3.card
                .card-body
                      form#account-password-form
                        .position-relative.form-group
                          label(for='currentPassword') Current Password
                          input#currentPassword.form-control(name='currentPassword' placeholder='Current Password' type='password' required)
                        .position-relative.form-group
                          label(for='newPassword') New Password
                          input#newPassword.form-control(name='newPassword' placeholder='New Password' type='password' required)
                        .position-relative.form-group
                          label(for='newPasswordConfirm') Confirm Password
                          input#newPasswordConfirm.form-control(name='newPasswordConfirm' placeholder='Confirm New Password' type='password' required)
                        .d-flex.justify-content-end.pt-3
                            button#change-password-btn.mt-1.mr-2.btn.btn-success Change Password