doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(http-equiv='Content-Language' content='en')
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    title Expresso | CMS
    meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no')
    meta(name='description' content='Expresso CMS')
    meta(name='msapplication-tap-highlight' content='no')
    link(href='./template/main.css' rel='stylesheet')
    link(rel='stylesheet' href='./css/bootstrap-overrides.css')
    link(rel='stylesheet' href='./css/template-overrides.css')

  body
    .app-container.app-theme-white.body-tabs-shadow.fixed-sidebar.fixed-header
    
      // HEADER
      include _header

      .app-main

        // SIDEBAR
        include _sidebar

        .app-main__outer
          .app-main__inner

            // CONTENT
            .container-fluid
              .row
                .col
                  h1 HOME

          // FOOTER  
          include _footer

        script(type='text/javascript' src='./template/assets/scripts/main.js')
