doctype html
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible' content='IE=edge')
      meta(http-equiv='Content-Language' content='en')
      meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
      title Expresso CMS | #{title}
      meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no')
      meta(name='description' content='Expresso CMS')
      meta(name='msapplication-tap-highlight' content='no')
      link(rel='icon' type='image/png' href='/img/favicon.ico')
      link(href='/template/main.css' rel='stylesheet')
      link(rel='stylesheet' href='/css/bootstrap-overrides.css')
      link(rel='stylesheet' href='/css/template-overrides.css')
      link(rel='stylesheet' href='/css/style.css')

  body
    .app-container.app-theme-white.body-tabs-shadow.fixed-sidebar.fixed-header

      // HEADER
      include _header

      .app-main

        // SIDEBAR
        include _sidebar

        .app-main__outer
          .app-main__inner

            // CONTENT
            block content

          // FOOTER  
          include _footer

    script(type='text/javascript' src='/template/assets/scripts/main.js')
    script(type='text/javascript' src='/js/mapbox.js')
