doctype html
html(lang='en')
    head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
      title Checkout

    body
        .container-fluid
            .row
                .col
                    .p-3
                        h1= title
                        button.btn.btn-primary#checkout-btn(type='button' data-order-id=`${orderId}`) Checkout Now

        script(src='https://js.stripe.com/v3/')
        //- script(src='/js/stripe.js')
        script(src='/js/bundle.js')

