extends base

block content

    .row
        .col
        
            .app-page-title.mb-0.py-2
                .page-title-wrapper
                    .page-title-heading
                        h1= `City: ${title}`