extends base

block content
    h1.mb-3 Dashboard

    .row
        .col-md-6.col-xl-4
          .card.mb-3.widget-content.bg-midnight-bloom
            .widget-content-wrapper.text-white
              .widget-content-left
                .widget-heading Cities
                .widget-subheading In 10 countries
              .widget-content-right
                .widget-numbers.text-white
                  span 10
        .col-md-6.col-xl-4
          .card.mb-3.widget-content.bg-arielle-smile
            .widget-content-wrapper.text-white
              .widget-content-left
                .widget-heading Restaurants
                .widget-subheading More than 500 branch
              .widget-content-right
                .widget-numbers.text-white
                  span 100
        .col-md-6.col-xl-4
          .card.mb-3.widget-content.bg-grow-early
            .widget-content-wrapper.text-white
              .widget-content-left
                .widget-heading Users
                .widget-subheading More than 1000 user
              .widget-content-right
                .widget-numbers.text-white
                  span 1000