body {
    font-family: Lato, "Helvetica Neue", Helvetica;
}

.container {
    margin-top: 3rem;
}

/* [DEFAULT] Extra small devices (portrait phones, less than 576px) */
body {
    /* background-color: cornsilk */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    body {
        /* background-color: darkolivegreen; */
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        /* background-color: aqua; */
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        /* background-color: blueviolet */
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        /* background-color: coral */
    }
}

.col {
    /* border: 1px solid #ccc; */
}

h1 {
    width:50%;
}

img {
    width:100%;
    height: 300px;
}
