tr:hover {
    cursor: default;
}

.row-manage {
    display: flex;
    justify-content: center;

    &__btn {
        cursor: pointer;
    }

    &__separator {
        span {
            margin: 0 .5rem;
        }
    }
}


@media (max-width: 992px) { 
    .dropdown-menu {
        top: 21% !important; 
    }
}

@media (max-width: 767.98px) {
    .dropdown-menu {
        top: 52% !important; 
    }
}

@media (max-width: 567px) {
    .dropdown-menu {
        top: 29% !important; 
    }
}
