/* line 1, public/css/style.scss */
body {
  font-family: Lato, "Helvetica Neue", Helvetica; }

/* line 5, public/css/style.scss */
.container {
  margin-top: 3rem; }

/* [DEFAULT] Extra small devices (portrait phones, less than 576px) */
/* line 10, public/css/style.scss */
body {
  /* background-color: cornsilk */ }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* line 16, public/css/style.scss */
  body {
    /* background-color: darkolivegreen; */ } }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* line 23, public/css/style.scss */
  body {
    /* background-color: aqua; */ } }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* line 30, public/css/style.scss */
  body {
    /* background-color: blueviolet */ } }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* line 37, public/css/style.scss */
  body {
    /* background-color: coral */ } }

/* line 42, public/css/style.scss */
.col {
  /* border: 1px solid #ccc; */ }

/* line 46, public/css/style.scss */
h1 {
  width: 50%; }

/* line 50, public/css/style.scss */
img {
  width: 100%;
  height: 300px; }
