/* line 1, public/css/style.scss */
tr:hover {
  cursor: default; }

/* line 5, public/css/style.scss */
.row-manage {
  display: flex;
  justify-content: center; }
  /* line 9, public/css/style.scss */
  .row-manage__btn {
    cursor: pointer; }
  /* line 14, public/css/style.scss */
  .row-manage__separator span {
    margin: 0 .5rem; }

@media (max-width: 992px) {
  /* line 22, public/css/style.scss */
  .dropdown-menu {
    top: 21% !important; } }

@media (max-width: 767.98px) {
  /* line 28, public/css/style.scss */
  .dropdown-menu {
    top: 52% !important; } }

@media (max-width: 567px) {
  /* line 34, public/css/style.scss */
  .dropdown-menu {
    top: 29% !important; } }
